<form action="api/feeds" method="post" class="border" style="margin-top: 5px">
    <div style="display: inline-block">
        <table>
            <tr>
                <td>Name:</td>
                <td><input autocomplete="off" name="caption" type="text" size="40" class="border"/></td>
            </tr>
            <tr>
                <td>UriString:</td>
                <td><input autocomplete="off" name="link" type="text" size="40" class="border"/></td>
            </tr>
        </table>
        <input type="submit" value="Save" class="btn" style="float: right"/>
    </div>
</form>