a{
    text-decoration: none;
}
body,
p,
ul{
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
.border {
    border: 1px solid darkcyan
}
.menu{
    height: 30px;
    border-bottom: 3px solid #222222;
}
.menu-item{
    display: inline-block;
    font-size: 12pt;
    margin-top: 7px;
    text-transform: uppercase;
    padding-right:10px;
}
.wrapper{
    width: 800px;
    height: 100%;
    margin: 0 auto;
}